html {
    color: #fefefe;
}

html, body {
    font-family: 'Minion Pro';
    font-style: italic;
}

body {
    color: #442200;
}

.container {
    max-width: 1080px;
    width: 100%;
}

header .navbar {
    background-color: rgba( 255, 255, 255, 0.75 );
    border: 0 none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid #007878;
}

header .navbar-brand {
    float: left;
    height: auto;
    padding: 0px 85px 0 15px;
    font-size: 18px;
    line-height: 20px;
}

header .navbar-default .navbar-nav > li > a {
    color: #1e5f7e;
    font-size: 19px;
    font-weight: normal;
    padding: 39px 5px 27px 10px;
    
}

header .navbar-default .navbar-nav > li > a.active, 
header .navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: #ff0011;
}

header .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

#main-carousel .carousel-inner > .item {
    width: 100%;
    height: 550px;
    background: center no-repeat;
    background-size: cover;
}

.carusel-sm #main-carousel {
    margin-top: 0;
}

#main-carousel .carousel-inner > .item .image-title {
    display: block;
    position: absolute;
    background-color: rgba( 255, 255, 255, 0.8 );
    padding: 35px 15px 20px 15px;
    width: 400px;
    min-width: 30%;
    left: 50%;
    bottom: 10%;
    font-size: 42px;
    text-align: left;
    color: #006270;
    overflow: hidden;
    max-height: 55%;
}

#main-carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    z-index: 15;
    width: auto;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
    list-style: none;
    right: 20%;
}

#main-carousel .carousel-indicators li {
    border: 2px solid #fff;
    background-color: #007878;
    width: 15px;
    height: 15px;
    margin: 1px;
}

#main-carousel .carousel-indicators li.active {
    border-color: #007878;
    background-color: #fff;
}

#main-carousel .carousel-bg {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -8%;
    background: url('../../../img/templates/new_zhitnitca/main-carusel-bg.png') no-repeat left center;
    background-size: auto 101%;
    z-index: 12;
}

.carusel-sm #main-carousel .carousel-bg {
    display: none;
}

.carusel-sm #main-carousel .carousel-inner > .item {
    height: 175px;
}

.carusel-sm #main-carousel .carousel-inner > .item .image-title {
    display: none;
}

.carusel-sm #main-carousel .carousel-indicators {
    bottom: 16px;
}

.content-galery-carusel .carousel-indicators {
    width: 100%;
    position: relative;
    left: 0;
    top: 100%;
    bottom: -5px;
    margin: 0;
}

.content-galery-carusel .carousel-indicators li {
    float: left;
    display: block;
    width: 20%;
    background-color: transparent;
    border-radius: 0;
    border: 3px solid #fff;
    margin: 0;
    height: 63px;
    background: no-repeat center;
    background-size: cover;
}

.content-galery-carusel .carousel-indicators li:hover {
    border-color: #009900;
    cursor: pointer;
}

.content-galery-carusel .carousel-indicators li.active {
    border-color: #009900;
}

.content-galery-carusel .carousel-inner > .item {
    width: 100%;
    height: 331px;
    background: center no-repeat;
    background-size: cover;
}



.content-galery-carusel .carousel-indicators li img {
    width: 100%;
    display: block;
}

.breadcrumb {
    border-radius: 0;
    border: 1px solid #ece5e0;
}

.breadcrumb a {
    font-size: 19px;
    color: rgb( 68, 34, 0 );
    font-weight: bold;
}

.breadcrumb > li + li:before {
    color: #ece5e0;
}

.all-wrapper .page-count {
    font-size: 17px;
    color: rgb( 68, 51, 0 );
    padding-top: 22px;
    text-align: center;
}

.pagination span {
    display: inline;
    font-size: 0;
}

.pagination a {
    color: #825000;
    font-size: 12px;
    border: 1px solid #dddddd;
    padding: 8px;
    border-right: 0 none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
    background: #825000;
    color: #fff;
}

.pagination span:last-child a {
    border-right: 1px solid #dddddd;
}

.pg-wrapp-top .pagination {
    margin: 31px 0 0 0;
}

.page-descr-wrapp {
    padding: 20px 0 20px 0;
    font-size: 19px;
}

.nav-tabs {
    border-bottom: 1px solid #006600;
    margin-top: 20px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #FEFEFE;
    cursor: default;
    background-color: #009900;
    border: 1px solid #006600;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    color: #442200;
    font-size: 19px;
    font-weight: 600;
}

.nav-tabs > li > a:hover {
    border-color: #006600;
    background-color: #66cc66;
}

.all-wrapper h2 {
    font-size: 32px;
    color: rgb( 68, 51, 0 );
    margin: 20px 0;
}

.all-wrapper h4 {
    color: #442200;
    font-size: 19px;
    font-weight: bold;
}

.all-wrapper .related-wrapper {
    padding: 20px 0 115px 0;
}

.all-wrapper a.all_content {
    color: #443300;
    float: right;
    padding-top: 26px;
    text-decoration: underline;
    font-size: 18px;
}

.sm {
    font-size: 15px;
    color: #442200;
    margin-bottom: 5px;
}

.sm a {
    color: #443300;
    text-decoration: underline;
}

.tiles {
    margin-right: -5px;
    margin-left: -5px;
}

.tiles > div {
    padding-left: 5px;
    padding-right: 5px;
}

.projects .item {
    padding-left: 5px;
    padding-right: 5px;
}

.projects .item .img-wrapper {
    overflow: hidden;
}

.projects .item .content-img-bg {
    width: 100%;
    height: 150px;
    background: no-repeat center;
    background-size: cover;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.projects .item:hover .content-img-bg {
    transform: scale(2);
}

.projects .item > a {
    text-decoration: none;
}

.projects .item  article {
    border: 2px solid #e5e5e5;
    padding: 7px;
    height: 230px;
    margin-bottom: 10px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    overflow: hidden;
}

.projects .item:hover  article {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.projects .item.fool  article {
    height: 375px;
}

.projects .item.fool .details {
    height: 68px;
    color: #442200;
    font-size: 15px;
    padding-top: 8px;
    overflow: hidden;
}

.projects .item.fool .sm {
    margin-bottom: 0;
    font-size: 12px;
}

.projects .item img {
    width: 100%;
    height: 140px;
}

.projects .item h1, .projects .item h1 a {
    font-weight: normal;
    font-size: 21px;
    color: #442200;
    margin: 10px 0 0 0;
}

.projects .item:hover h1 a {
    font-weight: bold;
    text-decoration: none;
}

.content .breadcrumb + .row + .description {
    padding-top: 25px;
    font-size: 17px;
    line-height: 1.6;
    color: rgb( 68, 34, 0 );
}

footer {
    background: url('../../../img/templates/marengo/footer-bg.jpg') no-repeat center;
    background-size: cover;
    margin-top: 110px;
    padding-top: 20px;
}

footer .bn-big {
    display: block;
    text-align: center;
    transform: translateY(-50%);
}

footer .bn-big img {
    max-width: 100%;
}

.featured-wrp-type1 .categoty-card {
    background: no-repeat transparent center;
    background-size: cover;
    height: 220px;
    border-radius: 0;
    position: relative;
    margin-top: 30px;
    margin-bottom: 22px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.featured-wrp-type1 .feat-cat-link {
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.featured-wrp-type1 .feat-cat-link:hover .categoty-card {
    transform: scale(1.09);
    z-index: 10;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.featured-wrp-type1 .feat-cat-link:hover .round-arrow {
    bottom: 50%;
    right: 50%;
        __margin: 0 -44px -44px 0;
    transform: translate3d(50%, 50%, 0);
}

.featured-wrp-type1 .feat-cat-link:hover .categoty-card .round-arrow i {
    __font-size: 44px;
    padding: 18px;
}

.featured-wrp-type1 .col-md-3, .featured-wrp-type1 .col-sm-6 {
    padding-right: 5px;
    padding-left: 5px;
}

.featured-wrp-type1 .row {
    margin-right: -5px;
    margin-left: -5px;
}

.featured-wrp-type1 .categoty-card h4 {
    background-color: rgba(0, 150, 150, 1);
    padding: 20px 5px;
    color: #fff;
    position: relative;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}

.featured-wrp-type1 [data-position="0"] .categoty-card h4, .featured-wrp-type1 [data-position="0"] .categoty-card .round-arrow i {
    background-color: rgba(255, 170, 0, 1);
}

.featured-wrp-type1 [data-position="1"] .categoty-card h4, .featured-wrp-type1 [data-position="1"] .categoty-card .round-arrow i {
    background-color: rgba(102, 146, 17, 1);
}

.featured-wrp-type1 [data-position="2"] .categoty-card h4, .featured-wrp-type1 [data-position="2"] .categoty-card .round-arrow i {
    background-color: rgba(175, 0, 75, 1);
}

.featured-wrp-type1 .categoty-card .round-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    __margin: 0 7px -20px 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    transform: translate3d(-20%, 50%, 0);
}

.featured-wrp-type1 .categoty-card .round-arrow i {
    font-size: 24px;
    color: #fff;
    background: rgba(0, 150, 150, 1);
    border-radius: 100%;
    padding: 11px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.featured-wrp-type2 {
    margin-top: 30px;
    text-align: center;
    padding: 30px 0;
   
}

.featured-wrp-type2 .categoty-card {
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: no-repeat center;
    background-size: cover;
    position: relative
}

.featured-wrp-type2 .categoty-card .overlay, .featured-wrp-type1 .categoty-card .overlay {
    background: #433107;
    opacity: 0.5;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    width: 0;
    height: 0;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.featured-wrp-type1 .categoty-card .overlay {
    border-radius: 0 0 30px 0;
}

.featured-wrp-type2 .categoty-card:hover .overlay, .featured-wrp-type1 .categoty-card:hover .overlay {
    width: 100%;
    height: 100%;
}

.featured-wrp-type2  h4 {
    font-size: 23px;
    height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-weight: normal;
    
}

.featured-wrp-type2 a:hover {
    text-decoration: none;
}

.featured-wrp-type2 .categoty-card:hover + h4 {
    font-weight: bold;
    text-decoration: none !important;
}

.content .related-categoryes .related-cat-title {
    font-size: 19px;
    color: #442200;
    margin: 12px 0 30px 0;
    font-weight: bold;
}

.content .related-categoryes  .projects article > a {
    float: left;
    width: 50%;
    
}

.content .related-categoryes  .projects article .description {
    float: right;
    width: 50%;
    padding: 0px 10px 10px 10px;
    max-height: 117px;
    overflow: hidden;
    
}

.content .related-categoryes .projects .item .content-img-bg {
    height: 85px;
}

.content .related-categoryes .projects .item article {
    height: 104px;
}

.content .related-categoryes .projects .item h1 {
    margin: 0;
}

.content .related-categoryes .projects .item h1 a {
    font-size: 19px;
    color: rgb( 68, 34, 0 )
}

.content .tiles .description {
    padding-top: 0;
    font-size: 23px;
    color: rgb( 68, 34, 0 )
}


footer .info-wrp {
    padding: 0 20px 20px 20px;
    background: rgba(0, 150, 150, 0.7);
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 7%;
    padding-right: 7%;
    -webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

footer .info-wrp a, footer .info-wrp:hover, footer .info-wrp a:visited {
    color: #fff;
}

footer .footer-sub-logo {
    font-size: 0;
    height: 80px;
    background: url('../../../img/templates/marengo/logo_footer.png') no-repeat center;
    margin-bottom: 30px;
}

footer .info-wrp p {
    color: #fff;
    font-size: 17px;
}

footer .info-wrp h3 {
    font-weight: normal;
    color: #fff;
    font-size: 19px;
}

footer nav {
    padding: 20px 10px 20px 30px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 80px;
    -webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
}

footer .second-menu-wrp {
    display: table;
    width: 100%;
}

footer .second-menu-wrp .menu-row {
    display: table-row;
    margin: 0;
    list-style: none;
    padding: 0;
}

footer .second-menu-wrp .menu-row .sub-menu-wrp.home {
    padding: 0;
}

footer .second-menu-wrp .menu-row .sub-menu-wrp.home li:before {
    content: '';
}

footer .second-menu-wrp .menu-row .sub-menu-wrp.home li a {
    color: #fff;
    font-size: 16px;
    padding: 5px 15px 5px 5px; 
}

footer .second-menu-wrp .menu-row > li{
    display: table-cell;
}

footer .second-menu-wrp .menu-row > li a {
    color: #fff;
    font-size: 19px;
    padding: 5px 15px 5px 5px; 
}

footer .second-menu-wrp .menu-row .sub-menu-wrp {
    padding-left: 10px;
    list-style: none;
    
}

footer .second-menu-wrp .menu-row .sub-menu-wrp li:before{ 
    content: "-";
    position: relative;
    left: 0px;
    color: #fff;
    font-size: 13px;
}

footer .second-menu-wrp .menu-row .sub-menu-wrp li { 
    text-indent:-5px; 
}

footer .second-menu-wrp .menu-row .sub-menu-wrp li a {
    font-size: 15px;
}

.navbar-brand > img {
    display: block;
    height: 45px;
    margin-top: 25px;
    margin-left: -10px;
}

.commetnts-wrp {
    
}

.commetnts-wrp textarea, .commetnts-wrp input {
    border-radius: 0;
    border: 1px solid #999;
    resize: none;
}

.commetnts-wrp .btn {
    border-radius: 0;
    
}

.commetnts-wrp.close {
    height: 0;
}

.commetnts-wrp h5 {
    color: rgb( 68, 34, 0 );
    font-size: 19px;
    text-decoration: underline;
    cursor: pointer;
}

.commetnts-wrp .comment_item p {
    color: rgb( 68, 34, 0 );
    font-size: 17px;
}

.commetnts-wrp label {
    font-size: 17px;
    color: rgb( 68, 34, 0 );
}

.commetnts-wrp .form-control {
    font-size: 15px;
}

.commetnts-wrp .help-block {
    color: #939393;
    font-size: 16px;
}

.commetnts-wrp .btn-lg {
    font-size: 21px;
}

.commetnts-wrp .btn-success:hover {
    background: #009900;
    border-color: #006600;
}

.commetnts-wrp .btn-success {
    background: #339933;
    border-color: #006600;
}

.commetnts-wrp h5 + div {
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.7;
}

.commetnts-wrp h5 + div.close {
    height: 0;
}

.commetnts-wrp .capcha {
    color: #443300;
    font-size: 20px;
    font-weight: bold;
}

.commetnts-wrp .form-group.has-error .capcha {
    color: #a94442;
}

.commetnts-wrp .form-group.has-error .capcha-result {
    border-color: #a94442;
}

.content .description {
    padding-top: 25px;
    font-size: 17px;
    line-height: 1.6;
    color: rgb( 68, 34, 0 );
}

footer .footer-map {
    background: url('../../../img/templates/marengo/map_img_footer.jpg') no-repeat center center;
    display: block;
    width: 100%;
    height: 213px;
    background-size: cover;
}

@media (min-width: 768px) {
    .content .description {
        padding-top: 25px;
        font-size: 17px;
        line-height: 1.6;
    }
}

@media (max-width: 1200px) {
    .navbar-brand > img {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    
    .navbar-brand > img {
        height: 42px;
        margin-top: 5px;
    }
    
    header .navbar-brand {
        padding: 0px 0px 0 15px;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        width: 100%;
        margin: 0;
    }
    
    .projects .item article {
        height: 303px;
        overflow: hidden;
    }
    
    header .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    header .navbar-default .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    
    #main-carousel .carousel-inner > .item {
        height: 60vw;
        
    }

    #main-carousel .carousel-inner > .item .image-title {
        bottom: 0;
        width: 100%;
        height: 20%;
        left: 0;
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
    
    #main-carousel .carousel-indicators {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0;
    }
    
    .carusel-sm #main-carousel .carousel-indicators {
        bottom: 0px;
    }
    
    .carusel-sm #main-carousel .carousel-inner > .item {
        height: 35vw;
    }
    
    .all-wrapper h2 {
        font-size: 30px;
        color: rgb( 68, 51, 0 );
        margin: 20px 0;
        word-wrap: break-word;
        white-space: normal;
        word-break: break-all;
    }
    
    .content-galery-carusel .carousel-inner > .item {
        width: 100%;
        height: 60vw;
    }
    
    .content-galery-carusel .carousel-indicators li {
        height: 13vw;
    }
    
    .details {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .commetnts-wrp .btn {
        width: 100%;
    }
    
    .commetnts-wrp .capcha, .commetnts-wrp .capcha-result {
        margin-bottom: 20px;
    }
    
    .projects .item.fool article {
        height: 420px;
    }
    
    .projects .item .content-img-bg {
        height: 230px;
    }
    
    
    .featured-wrp-type1 .feat-cat-link .round-arrow, .featured-wrp-type1 .feat-cat-link:hover .round-arrow {
        bottom: 50%;
        right: 50%;
        transform: translate3d(0, 0, 0);
        margin: 0 -30px -30px 0;
        -moz-transition: 0.3s all ease;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .featured-wrp-type1 .feat-cat-link .categoty-card .round-arrow i {
        padding: 18px;
        -moz-transition: 0.3s all ease;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
    
    .featured-wrp-type1 .categoty-card, .featured-wrp-type1 .feat-cat-link:hover .categoty-card {
        -moz-transition: 0.3s all ease;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
        transform: none;
        box-shadow: none;
    }

}

@media (max-width: 479px) {
    #main-carousel .carousel-inner > .item .image-title {
        font-size: 18px;
        padding: 10px;
    }
    
   
}